html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Varela Round";
  color: #555;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  line-height: 1.8;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border: 0.12rem solid transparent;
  border-radius: 0.3rem;
}

a:hover {
  color: #777;
  background-color: #ffe177;
  background-color: #ffe177;
  border: 0.12rem solid transparent;
  box-shadow: 0 1px 3px #222;
}

.header-container {
  height: 100vh;
  background-color: darkred;
  background: url("../img/wall2.jpg");
  background-size: cover;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  background-color: #999;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo a:hover {
  box-shadow: 0 0 0;
}

.logo img {
  width: 3rem;
}

.logo span {
  color: #ffe177;
}

.menu-mobile {
  width: 2rem;
  display: none;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu li {
  /* display: block; */
  /* list-style: none; */
  padding: 0.2rem;
  margin: 0;
  /* display: flex ; */
}

.title {
  width: max-content;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  position: relative;
  top: 30vh;
}

.title h1,
.title p {
  color: #fff;
  text-shadow: 1px 1px 2px #555;
}

.title h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.title h1::after {
  content: "";
  width: 20rem;
  height: 0.2rem;
  background-color: #fff;
  display: block;
  margin: 1rem auto;
}

.title p {
  font-size: 1.5rem;
}

.sobre-nos {
  /* height: 100vh; */
  background-color: #fff;
  padding-top: 2rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.sobre-nos h2::after,
.produtos h2::after,
.comprar h2::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #ffe177;
  display: block;
  margin: 0.5rem 0 1.5rem 0;
}

.sobre-nos h2,
.produtos h2,
.comprar h2 {
  font-size: 2.5rem;
}

.sobre-nos-resumo, .comprar {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.fa-quote-left {
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}

.fa-quote-right {
  text-align: right;
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

.sobre-nos-imagem {
  min-width: 23rem;
  height: max-content;
  display: flex;
  margin: 2rem auto;
}

.sobre-nos-imagem img {
  border-radius: 1rem;
  margin-bottom: 11vh;
  border-bottom: 0.4rem solid #ffe177;
}

.portfolio {
  color: #fff;
  background-color: #999;
}

.produtos h2 {
  padding-top: 2rem;
}

.produtos-galeria {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin-top: 3rem;
  /* background-color: #ffe177; */
}

.produtos-galeria img {
  border-radius: 0.5rem;
}

.produtos-caneca,
.produtos-azulejo,
.produtos-camisa {
  width: 20rem;
  background-color: #777;
  padding: 1rem;
  margin: 0 0 3rem 0;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 0.4rem solid #666;
}

.produtos-caneca:hover,
.produtos-azulejo:hover,
.produtos-camisa:hover {
  cursor: pointer;
  box-shadow: 0 0 20px #000;
  /* width: 20.2rem; */
}

.produtos-p {
  padding: 1rem 0;
}
.produtos-galeria a {
  border: 0.11rem solid #fff;
  padding: 0.5rem 0.7rem;
}

.produtos-galeria a:hover {
  border: 0.11rem solid transparent;
}

.comprar {
  /* height: 100vh; */
  padding-top: 3rem;
  font-size: 1.3rem;
  line-height: 2;
  /* background-image: url("/assets/img/canecaoriginal6.jpg");
  background-size: cover; */
  /* color: #EE4D30; */
}

.comprar img {
  width: 20rem;
  background-color: #f7f7f7;
  border-radius: 1rem;
}

.comprar img:hover {
  background-color: #ffe177;
  cursor: pointer;
}

.comprar-container {
  display: flex;
  gap: 2rem;
  padding-bottom: 2rem;
  margin-top: 2rem;
  /* background-color: #ccc; */
  /* justify-content: center; */
}

.comprar-container a {
  color: #fff;
  background-color: #999;
  padding: .5rem 1.5rem;
  display: block;
  width: max-content;
  font-size: 1.1rem;
}

.comprar-container a:hover {
  background-color: #ffe177;
  color: #555;
}

.comprartexto {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.contato {
  height: 100vh;
  background-color: #222;
  background: url("../img/lampada3.jpg");
  background-size: auto;
  background-position: right;
  color: #888;
}

.icons-contato {
  padding-top: 15rem;
  display: flex;
  flex-direction: row-reverse;
}

.icons {
  width: 40rem;
}

.icon-img img {
  width: 3rem;
  display: flex;
  font-size: 2rem;
}

.icon-img a {
  font-size: 2rem;
  display: flex;
  background-color: transparent;
}

.icon-img a:hover {
  color: #888;
  box-shadow: 0 0 0;
}

footer {
  background-color: #555;
  color: #aaa;
}

.footer {
  width: max-content;
  margin: 0 auto;
  padding: 1rem 0;
  text-align: center;
}

.la {
  display: flex;
  align-items: center;
  justify-content: center;
}

.la p {
  font-size: 1.5rem;
  display: inline;
}

.l {
  color: #fff;
}

.a {
  color: #ffe177;
}
.footer img {
  max-width: 2rem;
  /* max-height: 2rem; */
  /* background-color: #ffe177; */
  display: inline-block;
}
@media (max-width: 1140px) {
  .container {
    padding: 0 1rem;
  }

  .menu-mobile:hover {
    cursor: pointer;
  }

  .menu {
    /* display: none; */
    display: block;
    position: absolute;
    width: 100%;
    top: 10vh;
    right: 0;
    height: 0;
    background-color: #999;
    z-index: 1000;
    visibility: hidden;
    /* overflow-y: hidden; */
  }

  #nav.active .menu {
    height: 90vh;
    transition: 0.6s;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    padding-top: 3rem;
    visibility: visible;
    overflow-y: auto;
    /* width: 100%; */
  }

  .menu-mobile {
    display: flex;
    /* margin-top: 10rem; */
  }

  .title {
    width: 100%;
  }

  .title h1 {
    text-transform: uppercase;
    font-size: 2rem;
  }

  .title p {
    font-size: 1.5rem;
  }

  .sobre-nos-resumo {
    font-size: 1.2rem;
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 2rem;
  }

  .sobre-nos-imagem {
    max-width: 18rem;
  }

  .produtos-caneca:hover,
  .produtos-azulejo:hover,
  .produtos-camisa:hover {
    box-shadow: 0 0 0;
  }

  .onde-comprar {
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
  }

  .icons {
    width: 100%;
  }
}

@media (max-width: 900px) {
  .comprar-container {
    flex-direction: column;
  }
  .contato {
    height: max-content;
  }
  .sobre-nos-imagem {
    display: none;
  }

  .icons-contato {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
  }
}

@media (max-width: 700px) {
  .sobre-nos {
    height: 100vh;
  }

  .sobre-nos h2,
  .produtos h2,
  .comprar h2 {
    font-size: 2rem;
  }

  .sobre-nos-resumo, .comprar {
    font-size: 1.1rem;
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 1.8rem;
  }

  .comprar img {
    width: 100%;
  }

  .produtos-galeria {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2rem;
  }

  .produtos-caneca,
  .produtos-azulejo,
  .produtos-camisa {
    width: 80%;
    margin: 1rem auto;
  }

  .icon-img img {
    width: 2rem;
  }

  .icon-img a {
    font-size: 1.5rem;
  }

  .icons-contato {
    height: 100%;
    display: flex;
    padding: 5rem 0;
    justify-content: center;
    flex-direction: row-reverse;
  }
}

@media (max-width: 540px) {
  .title {
    top: 28vh;
  }

  .produtos-caneca,
  .produtos-azulejo,
  .produtos-camisa {
    width: 100%;
  }

  .icon-img img {
    width: 1.7rem;
  }

  .icon-img a {
    font-size: 1.1rem;
  }
}
