html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Varela Round";
  color: #555;
}

* {
  box-sizing: border-box;
}

h1,
h2,
p {
  margin: 0;
  line-height: 1.8;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  border: 0.12rem solid transparent;
  border-radius: 0.3rem;
}

a:hover {
  color: #7b3b71;
  background-color: #ffe177;
  background-color: #ffe177;
  border: 0.12rem solid transparent;
  box-shadow: 0 1px 3px #222;
}

.header-container {
  height: 100vh;
  background-color: darkred;
  background: url("../img/wall2.jpg");
  background-size: cover;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.header {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo a {
  text-decoration: none;
  text-transform: uppercase;
  background-color: transparent;
  color: #fff;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo a:hover {
  box-shadow: 0 0 0;
}

.logo img {
  width: 3rem;
}

.logo span {
  color: #ffe177;
}

.menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.menu li {
  padding: 0.2rem;
  margin: 0;
}

.title {
  width: max-content;
  text-align: center;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  position: relative;
  top: 30vh;
}

.title h1,
.title p {
  color: #fff;
  text-shadow: 1px 1px 2px #555;
}

.title h1 {
  text-transform: uppercase;
  font-size: 2rem;
}

.title h1::after {
  content: "";
  width: 20rem;
  height: 0.2rem;
  background-color: #fff;
  display: block;
  margin: 1rem auto;
}

.title p {
  font-size: 1.5rem;
}

.sobre-nos {
  height: 100vh;
  background-color: #fff;
  padding-top: 4rem;
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.sobre-nos h2::after,
.galeria h3::after {
  content: "";
  width: 3rem;
  height: 0.2rem;
  background-color: #ffe177;
  display: block;
  margin: 0.5rem 0 1.5rem 0;
}

.sobre-nos h2 {
  font-size: 2.5rem;
}

.sobre-nos-resumo {
  display: flex;
  flex-direction: column;
  font-size: 1.3rem;
}

.fa-quote-left {
  font-size: 3rem;
  margin: 3rem 0 1rem 0;
}

.fa-quote-right {
  text-align: right;
  font-size: 3rem;
  margin: 1rem 0 1rem 0;
}

.sobre-nos-imagem {
  min-width: 23rem;
  height: max-content;
  background-color: #ffe177;
  border-radius: 0.5rem;
}

.maquina {
  border-radius: 0.5rem;
}
